.Button {
    border-radius: 50%;
    font-size: 19px;
    background-color: #fff;
    height: 50px;
    width: 50px;
}

.Button:hover{
    color: #fff;
    cursor: pointer;
}

.green {
    border: 2px solid var(--button-green);
    color: var(--button-green);
}

.red {
    border: 2px solid var(--button-red);
    color: var(--button-red);
}

.green:hover{
    background-color: var(--button-green);
}

.red:hover{
    background-color: var(--button-red);
}