.Counter{
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.Display {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
}
